.wecare-page-cont {
	margin: 4rem auto;
}

.we-care-list-container {
	margin: 2rem auto;
}

.we-care-list-container > ul > li:nth-child(odd) {
	background-color: #278283;
}

.we-care-list-container > ul > li {
	padding: 5px 5px;
	margin: 20px;
	border-radius: 10px;
}

.we-care-list-container > ul > li {
	background-color: #f0934d;
}

.we-care-list-container > ul > li > p {
	margin-bottom: 0;
	padding: 10px;
}
