.gallery-cont {
  margin: 3rem auto;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.gallery-img-cont {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-img {
  width: 100%;
  height: max-content;
}

@media screen and (max-width: 800px) {
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
