.gallery-cont {
  margin: 3rem auto;
}

.styles_lightroom__1X2qE {
  background-color: rgba(57, 51, 51, 0.8) !important;
}

.styles_lightroomcontent__1SCaZ {
  /* margin: 3rem auto; */
  height: 100% !important;
  width: 80vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.styles_topmenu__oGT_u {
  position: absolute;
  right: 5%;
  top: 8% !important;
  font-size: medium;
}
.styles_column__2r45X {
  overflow: hidden;
}
.styles_column__2r45X img {
  transition: all ease-in-out 0.5s;
  border-radius: 15px !important;
}
.styles_column__2r45X img:hover {
  transform: rotate(5deg) scale(1.2);
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .styles_row__2gmnz {
    column-count: 3 !important;
  }
}

@media screen and (min-width: 200px) and (max-width: 800px) {
  .styles_row__2gmnz {
    column-count: 2 !important;
  }
  .styles_topmenu__oGT_u {
    position: absolute;
    left: 5% !important;
    top: 10% !important;
    font-size: medium;
  }
}
