.count-up-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin: 1rem 0rem;
  padding: 20px;
}

.count-up{
  font-size: 35px;
  font-weight: 900;
  width: 120px;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.count-up-text{
  font-size: 20px;
  color: #8d91a3;
  font-weight: 900;
  text-align: center;
}