.whatweoffer {
	position: relative;
	width: 100vw;
	left: calc(-50vw + 50%);
	background-color: #082a59;
	color: white;
	text-align: center;
	padding: 30px 20px;
	margin: 0rem;
}

.icon-container {
	display: flex;
	padding: 20px;
	margin: 40px 0px;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}

.icon-div {
	min-width: 250px;
	margin: 20px;
	cursor: pointer;
	transition: all 0.8s ease-in-out;
}

.icon-div:hover {
	background-color: white;
	color: #ea7d2a;
	transform: scale(1.1);
	border-radius: 10px;
}
