.transport-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1;
  margin: 2rem auto 3rem;
  padding: 2rem;
  position: relative;
  left: calc(-50vw + 50%);
  width: 100vw;
}

.transport-image {
  width: 50%;
  padding: 20px;
}

.transport-content {
  padding: 40px;
  width: 50%;
}

.transport-content > p {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .transport-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    flex: 1 1;
    margin: 1rem auto 3rem;
    padding: 0px;
  }
  .transport-container > div {
    padding: 20px 0px;
  }
  .transport-image {
    width: 90%;
    padding: 20px;
  }

  .transport-content {
    padding: 40px;
    width: 90%;
  }
}
