body {
	margin: 0;
}
.menuBurger {
	width: 3vmax;
	height: 60px;
	position: fixed;
	top: 2vmax;
	left: 2vmax;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	padding: 1vmax;
	overflow: hidden;
	z-index: 1000;
}
.menuBurgerItem {
	height: 4px;
	width: 40px;
	border-radius: 30px;
	transition: all 0.4s;
}

.menuBurgerItem1 {
	transform: rotateZ(45deg);
	top: 2vmax;
	position: absolute;
}
.menuBurgerItem2 {
	transform: translateX(-200%);
}
.menuBurgerItem3 {
	transform: rotateZ(-45deg);
	top: 2vmax;
	position: absolute;
}

/*-------------------------- Navbar-------------------------- */
.nav {
	display: flex;
	transition: all 1s;
}

.nav100 {
	width: 100vw;
	height: 100vh;
	background-image: url(../../media/ss1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	/* background-color: red; */
	animation: backimageset 1s;
}

@keyframes backimageset {
	from {
		transform: translateY(-100vh);
	}
	to {
		transform: scale(1);
	}
}

.nav1,
.nav2,
.nav3 {
	padding: 2vmax;
	height: 100vh;
	width: 34%;
	box-sizing: border-box;
	font-family: 'Roboto';
	z-index: 100;
	position: fixed;
	display: flex;
}
.nav1 {
	left: 0%;
}
.nav2 {
	left: 34%;
}
.nav3 {
	left: 68%;
}
.nav2 > a {
	position: relative;
}
.nav2 > a:hover {
	color: #0a58ca !important;
}
.nav1 > a {
	position: relative;
}
.nav3 > a:hover {
	color: #0a58ca;
}

.nav2 > a::after {
	position: absolute;
	content: '';
	width: 30%;
	height: 3px;
	top: 100%;
	left: 15px;
	background: #ff7000;
	transition: transform 0.5s;
	transform: scaleX(0);
	transform-origin: left;
}

.nav1 > a::after {
	position: absolute;
	content: '';
	width: 50%;
	height: 3px;
	top: 100%;
	left: 15px;
	background: #ff7000;
	transition: transform 0.5s;
	transform: scaleX(0);
	transform-origin: left;
}

.nav2 > a:hover::after {
	transform: scaleX(1);
}

.nav1 > a:hover::after {
	transform: scaleX(1);
}

.custom-dropdown {
	background: none !important;
	color: black !important;
	border: none !important;
	font-weight: 900 !important;
}

.custom-dropdown:focus {
	box-shadow: none !important;
}

.custom-dropdown:focus-visible {
	border: none !important;
}

.custom-dropdown-menu {
	background-color: #337c87 !important;
	min-width: 8rem !important;
	text-align: center !important;
}

.about-transform {
	transform: translate(-50px, 50px) !important;
}

.media-transform {
	transform: translate(-25px, 50px) !important;
}

.academics-transform {
	transform: translate(-30px, 50px) !important;
}

.admission-transform {
	transform: translate(-25px, 50px) !important;
}

.about-transform {
	transform: translate(-50px, 50px) !important;
}

.custom-dropdown-menu > li {
	text-align: center !important;
}

.custom-dropdown-menu > li > a {
	text-align: center !important;
	border-radius: 5px !important;
	width: min-content !important;
	margin: 0px auto !important;
	color: white !important;
	font-size: 13px;
	font-weight: 900;
	transition: 00ms all ease-in-out;
}

.custom-dropdown-menu > li > a:hover {
	color: #ea7d2a !important;
}

.nav-mobile {
	display: none !important;
}

@keyframes LogoleftIn {
	from {
		transform: translateX(-100vw);
	}
	to {
		transform: translateX(0vw);
	}
}

@keyframes LogoleftOut {
	from {
		transform: translateX(0vw);
	}
	to {
		transform: translateX(-100vw);
	}
}

@keyframes LinkIn {
	from {
		transform: translateY(-100vw);
	}
	to {
		transform: translateY(0vw);
	}
}

@keyframes LinkOut {
	from {
		transform: translateY(0vw);
	}
	to {
		transform: translateY(-100vw);
	}
}

@keyframes IconIn {
	from {
		transform: translateX(100vw);
	}
	to {
		transform: translateX(0vw);
	}
}

@keyframes IconOut {
	from {
		transform: translateX(0vw);
	}
	to {
		transform: translateX(100vw);
	}
}

.bg-blue {
	background-color: #337c87 !important;
	color: whitesmoke !important;
}

/*  -----------  mobile design below 800px ---------- */
/*  -----------  mobile design below 800px ---------- */
/*  -----------  mobile design below 800px ---------- */
/*  -----------  mobile design below 800px ---------- */
/*  -----------  mobile design below 800px ---------- */

@media screen and (max-width: 800px) {
	.nav {
		display: none !important;
	}

	.nav-mobile {
		display: flex !important;
	}

	.menuBurger {
		width: 40px;
		height: 35px;
		position: fixed;
		top: 4vmax;
		left: 2vmax;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		padding: 5px;
		overflow: hidden;
		z-index: 1000;
	}
	.nav1 {
		display: none !important;
	}

	.nav2 {
		flex-direction: column !important;
		justify-content: center !important;
		left: 0% !important;
		width: 100% !important;
	}

	.nav3 {
		flex-direction: column !important;
		justify-content: center !important;
		left: 50% !important;
		width: 50% !important;
	}

	.font-11 {
		font-size: 11px !important;
	}

	.custom-dropdown-menu > li > a {
		text-align: center !important;
		font-size: 12px !important;
		border-radius: 5px !important;
		width: min-content !important;
		margin: 0px auto !important;
	}

	.custom-dropdown-menu {
		min-width: 7rem !important;
		text-align: center;
	}

	.trans-about {
		transform: translate(-70px, 40px) !important;
	}

	.trans-academics {
		transform: translate(-40px, 40px) !important;
	}

	.trans-admission {
		transform: translate(-37px, 40px) !important;
	}

	.trans-careers {
		transform: translate(-70px, 40px) !important;
	}
}
