body {
  margin: 0;
}
.menuBurger {
  width: 3vmax;
  height: 60px;
  position: fixed;
  top: 2vmax;
  left: 2vmax;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1vmax;
  overflow: hidden;
  z-index: 1000;
}
.menuBurgerItem {
  height: 4px;
  width: 40px;
  border-radius: 30px;
  transition: all 0.4s;
}

.menuBurgerItem1 {
  transform: rotateZ(45deg);
  top: 2vmax;
  position: absolute;
}
.menuBurgerItem2 {
  transform: translateX(-200%);
}
.menuBurgerItem3 {
  transform: rotateZ(-45deg);
  top: 2vmax;
  position: absolute;
}

/*-------------------------- Navbar-------------------------- */
.nav {
  display: flex;
}

.nav1,
.nav2,
.nav3,
.nav4 {
  padding: 2vmax;
  height: 100vh;
  width: 33%;
  box-sizing: border-box;
  font-family: "Roboto";
  z-index: 100;
  position: fixed;
  display: flex;
}
.nav1 {
  left: 0%;
}
.nav2 {
  left: 33%;
}
.nav3 {
  left: 66%;
}
.nav2 > a{
  position: relative;
}
.nav2 > a:hover{
  color: #0a58ca !important;
}
.nav3 > a{
  position: relative;
}
.nav3 > a:hover{
  color: #0a58ca !important;
}

.nav2 > a::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #ff7000;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: left;
}

.nav3 > a::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #ff7000;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: left;
}

.nav2 > a:hover::after{
  transform: scaleX(1);
}

.nav3 > a:hover::after{
  transform: scaleX(1);
}

@keyframes LogoleftIn {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0vw);
  }
}

@keyframes LogoleftOut {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(-100vw);
  }
}

@keyframes LinkIn {
  from {
    transform: translateY(-100vw);
  }
  to {
    transform: translateY(0vw);
  }
}

@keyframes LinkOut {
  from {
    transform: translateY(0vw);
  }
  to {
    transform: translateY(-100vw);
  }
}

@keyframes IconIn {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0vw);
  }
}

@keyframes IconOut {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(100vw);
  }
}



@media screen and (max-width: 800px) {
  .menuBurger {
    width: 40px;
    height: 35px;
    position: fixed;
    top: 4vmax;
    left: 2vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    overflow: hidden;
    z-index: 1000;
  }
  .nav1 {
    flex-direction: column;
  }
  .nav2 {
    flex-direction: column !important;
    justify-content: center !important;
  }

  .nav3 {
    flex-direction: column !important;
    justify-content: center !important;
  }

  .nav4 {
    flex-direction: column !important;
    justify-content: center !important;
  }

  .linksReactNavbar {
    font-size: 11px !important;
  }
}