.admn-form > div{
  margin: 20px 0px;
  color: whitesmoke;
}

.admn-form{
  animation: formAnim 2s;
}

@keyframes formAnim {
  from{
    transform: translateY(800px);
  }
}

@media screen and (min-width:1000px) {
  .admn-form{
    max-width: 60%;
    margin: auto;
  }
}