.scl-name-main-container {
	position: absolute;
	top: 30%;
	width: 100%;
	z-index: 10;

	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

/* .scl-name-container {
	padding: 70px 150px;
	text-align: center;
	border-radius: 20px;
	border: 5px solid mediumpurple;
	background: rgb(252, 255, 2555, 0.5);
	background-image: linear-gradient(
		to top,
		#0c3483 0%,
		#a2b6df 100%,
		#6b8cce 100%,
		#a2b6df 100%
	);
}

.carousel-inner {
	margin-bottom: 10rem;
} */

.royalhills {
	color: black;
	-webkit-text-stroke: 4px #337c87;
	font-size: 4rem;
	letter-spacing: 2px;
	word-spacing: 10px;
	animation: royalHillAnim 2s;
}

@keyframes royalHillAnim {
	from {
		transform: translateX(500px);
	}
}

.inter-scl {
	color: black;
	-webkit-text-stroke: 2px #ea7d2a;
	font-size: 2rem;
	letter-spacing: 1px;
	word-spacing: 10px;
	animation: interAnim 4s;
}

@keyframes interAnim {
	from {
		transform: translateY(400px);
	}
}

.scroll-container {
	display: flex;
	justify-content: center;
	margin: 2rem 0rem;
	position: absolute;
	bottom: 10px;
	left: 50%;
	z-index: 10;
}

.scroll {
	height: 60px;
	width: 60px;
	color: white;
	background-color: #082a59;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	cursor: pointer;
	/* animation: scrollAnim 1s alternate infinite; */
}

@keyframes scrollAnim {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.1);
	}
}

.arrow-scroll-down {
	/* animation: scrollArrowAnim 1s alternate infinite; */
}

@keyframes scrollArrowAnim {
	from {
		transform: translateY(5px);
	}
}

.carousel-img {
	display: block;
	height: 98vh;
	/* margin-top: 3rem; */
	/* padding: 10px; */
}

.carousel-img-mobile{
		display: none;
	}

.carousel-btn-container {
	display: flex;
	justify-content: center;
	margin: 2rem 0rem;
}

.carousel-btn {
	height: 40px;
	width: 40px;
	background: white;
	color: black;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	cursor: pointer;
}

.carousel-control-next,
.carousel-control-prev {
	z-index: 100000;
}

.rotate-next {
	transform: rotate(270deg);
	z-index: 10000;
}

.rotate-prev {
	transform: rotate(90deg);
	z-index: 100;
}

.top-right-menu {
	text-align: right;
	position: fixed;
	top: 40px;
	right: 200px;
	z-index: 10000000;
}

.top-right-menu > ul > li {
	display: inline-block;
	padding: 0 5px;
	margin: 0 4px;
	cursor: pointer;
	background-color: #337c87;
	color: whitesmoke;
	border-radius: 20px;

	padding: 5px 15px;
	box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
	transition: all ease-in-out 0.3s;
}

.top-right-menu > ul > li:hover{
	background-color: whitesmoke;
	color: #ea7d2a;
}

.top-right-menu > ul > li > a {
	color: inherit;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	transition: all ease-in-out 0.3s;
}

.top-right-menu > ul > li > a:hover {
	color: #ea7d2a;
	font-weight: 900;
}

/* .vertical-bar {
	color: white;
	font-weight: 700;
	font-size: 20px;
	margin: 0 7px;
} */

@media screen and (max-width: 576px) {
	.carousel-img {
		display: none;
	}
	.carousel-img-mobile{
		display: block;
		height: 60vh;
	}
	.scl-name-container {
		padding: 20px 10px;
		text-align: center;
		border-radius: 20px;
		/* background: rgb(252, 171, 300,0.5); */
		/* background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%); */
	}

	.royalhills {
		font-size: 1.5rem;
		letter-spacing: 1px;
		word-spacing: 5px;
		-webkit-text-stroke: 1px #337c87;
	}

	.inter-scl {
		-webkit-text-stroke: 1px #ea7d2a;
		font-size: 1rem;
		letter-spacing: 1px;
		word-spacing: 5px;
	}

	.scroll-container {
		display: flex;
		justify-content: center;
		margin: 2rem 0rem;
		position: absolute;
		bottom: 10px;
		left: 45%;
		z-index: 10;
	}

	.scroll {
		display: none !important;
	}

	.mr-top-4 {
		margin-top: 4rem !important;
	}
}

@media screen and (max-width: 850px) {
	.top-right-menu {
		display: none;
	}
}
